.title-order-section{
    text-align: center;
    font-size: var(--size-title);
    font-family: var(--title-font);
    margin-bottom: 30px;
}

.all-container-order{
    display: flex;
    justify-content: center;
    align-items: center;


    .main-container-decor-order{
        padding: 15px;
        border-radius: var(--border-radius);
        background: var(--darkgray-color);
        box-shadow: 0 0 10px var(--black-color);
        display: flex;
        flex-direction: column;
        gap: 10px;

        .arrive-order{
            font-size: var(--size-main-text);
            font-family: var(--main-text);
            text-align: center;
        }

        .buttons-block{
            justify-content: center;
            display: flex;
            gap: 20px;

            .button-order{
                width: 100%;
                border-radius: var(--border-radius);
                background: greenyellow;
                font-size: var(--size-main-text);
                font-family: var(--main-text);
                color: var(--black-color);
                border: none;
                outline: none;
                margin-bottom: 10px;
                transition: 0.2s;
                padding: 10px 0;
            }

            .selected{
                background: red;
                color: var(--white-color);
            }
        }

        .all-input{
            flex-direction: column;
            display: flex;
            gap: 20px;

            .input-order{
                padding: 7px;
                border-radius: var(--border-radius);
                border: 1px solid var(--white-color);
                outline: none;
                background: transparent;
                font-size: var(--size-main-text);
                font-family: var(--main-text);
                color: var(--white-color);
                padding-left: 20px;
                resize: none;


                &::placeholder{
                    color: var(--gray-color);
                }
            }

            textarea{
                height: 200px;
            }

            .select-buy{
                text-align: center;
            }

            option{
                color: var(--black-color);
            }


            .agree-order{
                height: 50px;
                border-radius: var(--border-radius);
                border: none;
                font-size: var(--size-main-text);
                font-family: var(--main-text);  
                background: blue;
                color: var(--white-color);
                transition: 0.2s;

                &:hover{
                    color: blue;
                    background: var(--white-color);
                }
            }
        }
    }
}
